*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: "Open Sans" , sans-serif;

}

.top_main{
    background-color: #ffffff;
    box-shadow: grey 0 2px 5px;
}

h1{
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}

p{
    font-size: 25px;
    font-weight: bolder;
    margin:5%;
}


.line-polls{
    background-color: #ffffff;
    margin-left: 5%;
    margin-top: 1%;
    padding: 2%;
    width: 30%;
}

.line-polls a {
    text-decoration: none;
    color: #000000;
}