*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: "Open Sans" , sans-serif;

}

h1{
    text-align: center;
    font-size: 30px;
    margin-top: 3%;
}

p{
    font-size: 25px;
    font-weight: bolder;
    margin:5%;
}