*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: "Open Sans" , sans-serif;

}

.contour{
    text-align: center;
    width: 50%;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 20px;
    box-shadow: grey 0px 2px 2px;
    margin: 5% auto auto;
}

.titre_infos{
    margin: 2% 0;
    font-weight: bolder;
}

.change{
    margin: 2% auto;
    width: 30%;

}

.form input{
    border: none;
    background-color: #F6F7FB;
    margin-top: 15%;
    height: 20px;
    border-radius: 10px;
    padding: 3%;
}

.line{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 70%;
    margin: 3% auto;
    justify-content: center;


}

#button{
    cursor: pointer;
    margin: auto;
    width: 20%;
    height: auto;
    background: #000000;
    color: #ffffff;
    padding: 1%;
    font-size: 11px;
    border-radius: 20px;
;


}

#button:hover{
    background: #ffffff;
    color: #000000;
    border: #000000 solid;
}