*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: "Open Sans" , sans-serif;

}

h1{
    color: #000000;
}

.contour{
    text-align: center;
    width: 80%;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 20px;
    box-shadow: grey 0px 2px 2px;
    margin: 5% auto auto;
}

.responses{
    width: 70%;
    margin: 10% auto 0;
}

.write_com{
    width: 100%;
    display: flex;
    flex-direction: column;

}

#com_content{
    width: 50%;
    border: none;
    background-color: #F6F7FB;
    margin-top: 5%;
    height: 50px;
    border-radius: 10px;
    padding: 1%;
}

#button{
    cursor: pointer;
    margin-left: 40%;
    width: 10%;
    height: auto;
    background: #000000;
    color: #ffffff;
    padding: 1%;
    font-size: 11px;
    border-radius: 20px;
    margin-top: 1%;


}

#button:hover{
    background: #ffffff;
    color: #000000;
    border: #000000 solid;
}