*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: "Open Sans" , sans-serif;

}

.contour{
    text-align: center;
    width: 50%;
    background-color: #ffffff;
    padding: 1%;
    border-radius: 20px;
    box-shadow: grey 0px 2px 2px;
    margin: 30% auto auto;
}

.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

#question{
    font-weight: bold;
}

.form input{
    border: none;

    border-radius: 10px;

}

.line{
    margin-top: 5%;
}


#button{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background: #000000;
    color: #ffffff;
    padding: 2%;
    font-size: 14px;
    border-radius: 20px;
    margin-top: 8%;


}

#button:hover{
    background: #ffffff;
    color: #000000;
    border: #000000 solid;
}

.radio{
    float: right;
}